a {
  text-decoration: none;
}
.icon {
  height: 30px;
  width: 30px;
}
.linkedin {
  color: blue;
}
.github {
  color: black;
}
.gmail {
  color: rgb(210, 44, 44);
}
hr {
  height: 1px !important;
  opacity: 50% !important;
  color: rgb(0, 0, 0) !important;
}
